{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_list.all|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list.all %}
                            <tr>
                                <td>{{task.name}}</a></td>
                            <td>{{task.start_date}}</td>
                            <td>{{task.end_date}}</td>
                            {% if task.is_completed == False %}
                                <td><form method="post" action="{% url 'complete_task' task.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="is_completed" value="True">
                                    <button>Complete</button>
                                </form></td>
                            {% else %}
                                <td>{{task.is_completed}}</td>
                            {% endif %}
                            </tr>
                            </tbody>
                        {% endfor %}
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </table>
    </div>
    </main>
{% endblock content %}


<form method="post" action="{% url 'complete_task' task.id %}">
    {% csrf_token %}
    <input type="hidden" name="is_completed" value="True">
    <button>Complete</button>
</form>